In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import documents as docs
import textcomparisons as tc
import random
import time

start = time.time()

data_folder = "data"
results_folder = "results"
para_sep = "###"

article_df = pd.read_pickle(os.path.join(data_folder, "article_df_20180715"))

events = [event for event in np.unique(article_df["event"]) if not np.isnan(event)]
n = [len(article_df.loc[article_df["event"] == event]) for event in events]
print("Event sizes: ", n)

try:
    results_df = pd.read_csv(os.path.join(results_folder, "results_20180715_clusters.csv"))
    display(results_df.describe())
except: 
    results_df = pd.DataFrame(list(zip(events, n)), columns = ["event", "n"])
    results_df["unique25"] = np.nan
    results_df["unique75"] = np.nan
    results_df["n_good"] = np.nan
    results_df["unique25_good"] = np.nan
    results_df["unique75_good"] = np.nan

ac = tc.ArticleComparisons(thresh_jaccard = .5, thresh_same_sent = .9, thresh_same_doc = .25)

display(article_df.head(2))
print("Setup time: %d seconds" % np.round(time.time() - start))

Event sizes:  [4551, 1215, 1096, 2033, 625, 616, 810, 567, 655, 386, 884, 864, 722, 657, 495, 584, 664, 419, 393, 591, 359, 386, 325, 438, 289, 613, 792, 295, 372, 312, 314, 231, 317, 195, 220, 366, 374, 250, 312, 49884, 175, 285, 237, 1161, 553, 185, 191, 164, 182, 166]

,event,n,unique25,unique75,n_good,unique25_good,unique75_good
count,50.00000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,24.50000,1575.40000,0.156708,0.259933,370.860000,0.154871,0.252684
std,14.57738,7003.04803,0.122543,0.166596,117.034795,0.124676,0.166669
min,0.00000,164.00000,0.005128,0.030769,160.000000,0.005128,0.030769
25%,12.25000,290.50000,0.072818,0.163385,285.250000,0.069313,0.161341
50%,24.50000,389.50000,0.128619,0.226378,384.500000,0.124442,0.220494
75%,36.75000,656.50000,0.186392,0.331730,485.500000,0.181822,0.316708
max,49.00000,49884.00000,0.728000,0.960000,495.000000,0.748373,0.965293

,id,publisher,scrape_time,on_homepage,url,title,text,fingerprint,event,doc,paywall
0,0,wsbtv.com,2018-07-16T01:02:26-04:00,True,https://www.wsbtv.com/news/local/cobb-county/p...,"Police: Missing teen with autism found, reunit...","Police: Missing teen with autism found, reunit...","{'wordCounts': {'1533': 10, '367': 3, '2619': ...",NaN,None,0.0
1,1,wn.com,2018-07-16T04:51:37-04:00,False,https://wn.com/Apostolic_Constitutions,Apostolic s,Apostolic Constitutions ### back to playlist #...,"{'wordCounts': {'147633': 5, '5029': 6, '546':...",NaN,None,0.0

Setup time: 2 seconds

In [2]:
n = 1250
start = time.time()
#sample = random.sample(list(article_df["id"]), n)
sample = [i for i in range(n)]#f article_df.loc[i, "event"] == 1]
elapsed = round(time.time() - start, 2)
print("Time taken to run cell: %f s (%f s per document)" % (elapsed, elapsed/n))
print(sample, len(sample))
# 6.33

Time taken to run cell: 0.000000 s (0.000000 s per document)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249] 1250

In [3]:
ac = tc.ArticleComparisons(thresh_jaccard = .5, thresh_same_sent = .9, thresh_same_doc = .25)
print("SPACY: parsing and comparisons runtime")
start = time.time()
article_dict_spacy = ac.dict_by_ids(article_df, sample, para_sep = para_sep, parser = "spacy")

elapsed = round(time.time() - start, 2)
print("Time taken to run cell: %f s (%f s per document)" % (elapsed, elapsed/n))

SPACY: parsing and comparisons runtime
Time taken to run cell: 110.220000 s (0.088176 s per document)

In [ ]:
start = time.time()
jac_mat = ac.jac_score_mat(article_dict_spacy)
elapsed = round(time.time() - start, 2)
print("Time taken to run cell: %f s (%f s per document)" % (elapsed, elapsed/n))

0 / 1250 done, 0.0 seconds elapsed
25 / 1250 done, 95.81 seconds elapsed
50 / 1250 done, 185.99 seconds elapsed
75 / 1250 done, 248.13 seconds elapsed
100 / 1250 done, 304.38 seconds elapsed
125 / 1250 done, 374.52 seconds elapsed
150 / 1250 done, 463.02 seconds elapsed
175 / 1250 done, 536.76 seconds elapsed
200 / 1250 done, 629.68 seconds elapsed
225 / 1250 done, 693.82 seconds elapsed
250 / 1250 done, 766.57 seconds elapsed
275 / 1250 done, 826.79 seconds elapsed
300 / 1250 done, 875.26 seconds elapsed
325 / 1250 done, 953.38 seconds elapsed
350 / 1250 done, 1018.53 seconds elapsed
375 / 1250 done, 1085.1 seconds elapsed
400 / 1250 done, 1139.26 seconds elapsed
425 / 1250 done, 1187.61 seconds elapsed
450 / 1250 done, 1228.41 seconds elapsed
475 / 1250 done, 1274.46 seconds elapsed
500 / 1250 done, 1354.84 seconds elapsed
525 / 1250 done, 1402.79 seconds elapsed
550 / 1250 done, 1513.07 seconds elapsed
575 / 1250 done, 1551.18 seconds elapsed
600 / 1250 done, 1586.43 seconds elapsed
625 / 1250 done, 1627.41 seconds elapsed
650 / 1250 done, 1650.89 seconds elapsed
675 / 1250 done, 1675.69 seconds elapsed
700 / 1250 done, 1709.65 seconds elapsed
725 / 1250 done, 1746.55 seconds elapsed
750 / 1250 done, 1788.98 seconds elapsed
775 / 1250 done, 1824.16 seconds elapsed
800 / 1250 done, 1850.78 seconds elapsed
825 / 1250 done, 1873.95 seconds elapsed
850 / 1250 done, 1904.0 seconds elapsed
875 / 1250 done, 1925.06 seconds elapsed
900 / 1250 done, 1944.47 seconds elapsed
925 / 1250 done, 1962.84 seconds elapsed
950 / 1250 done, 1994.03 seconds elapsed
975 / 1250 done, 2032.31 seconds elapsed
1000 / 1250 done, 2047.6 seconds elapsed
1025 / 1250 done, 2061.17 seconds elapsed
1050 / 1250 done, 2076.56 seconds elapsed
1075 / 1250 done, 2101.29 seconds elapsed
1100 / 1250 done, 2111.47 seconds elapsed
1125 / 1250 done, 2118.69 seconds elapsed
1150 / 1250 done, 2143.29 seconds elapsed
1175 / 1250 done, 2148.57 seconds elapsed
1200 / 1250 done, 2152.6 seconds elapsed
1225 / 1250 done, 2155.54 seconds elapsed
Time taken to run cell: 2156.550000 s (1.725240 s per document)

In [ ]:
print("NLTK: parsing and similarities runtime")
start = time.time()
article_dict_nltk = ac.dict_by_ids(article_df, sample, para_sep = para_sep, parser = "nltk")

elapsed = round(time.time() - start, 2)
print("Time taken to run cell: %f s (%f s per document)" % (elapsed, elapsed/n))

NLTK: parsing and similarities runtime
Time taken to run cell: 18.180000 s (0.014544 s per document)

In [ ]:
start = time.time()
nltk_jac_mat = ac.jac_score_mat(article_dict_nltk)
elapsed = round(time.time() - start, 2)
print("Time taken to run cell: %f s (%f s per document)" % (elapsed, elapsed/n))

0 / 1250 done, 0.0 seconds elapsed
25 / 1250 done, 110.87 seconds elapsed
50 / 1250 done, 212.48 seconds elapsed
75 / 1250 done, 294.84 seconds elapsed
100 / 1250 done, 358.67 seconds elapsed
125 / 1250 done, 436.42 seconds elapsed
150 / 1250 done, 541.39 seconds elapsed
175 / 1250 done, 624.63 seconds elapsed
200 / 1250 done, 733.66 seconds elapsed
225 / 1250 done, 808.85 seconds elapsed
250 / 1250 done, 902.56 seconds elapsed
275 / 1250 done, 978.98 seconds elapsed

In [ ]:
# For 500 docs
# spacy: 38.6s (0.07s), 285s (0.57s) - approx. 325
# nltk: 7.3s (0.01s), 369s (0.72s) - approx 375
# 800
# spacy: 63.5 (0.08s), 816.7s (1.02s) - approx 880s or 15min
# nltk: 11.8s (0.01s), 944.9s (1.18s) - approx 955s or 16min
# 1250 
# spacy: 110.2 (0.09s), 2156.6s (1.73s) - approx 2266s or 38min 
# nltk: 18.2s (0.01s),

In [ ]:
ac.display_mat(tc.subsetmat(nltk_jac_mat, range(min(20, len(sample)))))

In [ ]:
ac.display_mat(tc.subsetmat(jac_mat, range(min(20, len(sample)))), xlabs = sample)

In [ ]:
for doc_id in article_dict_spacy:
    doc = article_dict_spacy[doc_id]
    print(doc.get_sentences(), doc.get_bow_sentences(), doc.get_bow_sentence_lens())

In [ ]:
for doc_id in article_dict_nltk:
    doc = article_dict_nltk[doc_id]
    print(doc.get_sentences(), doc.get_bow_sentences(), doc.get_bow_sentence_lens())

In [ ]:
for doc_id in article_dict_nltk:
    print(article_df.loc[article_df["id"] == doc_id, "text"].iloc[0])

In [ ]:
scores = np.zeros((len(sample), len(sample)))
for i in range(len(sample)):
    for j in range(len(sample)):
        v1 = article_dict_spacy[sample[i]].vec
        v2 = article_dict_spacy[sample[j]].vec
        scores[i, j] = np.dot(v1, v2) / (np.linalg.norm(v1) * np.linalg.norm(v2))

In [ ]:
plt.hist(tc.flatten(scores))
print(np.percentile(scores, [10, 50, 90]))

In [ ]:
doc1 = article_dict_spacy[0]
doc2 = article_dict_spacy[3]
print(ac.jaccard_score(doc1, doc2))
ac.print_sentence_matches()

In [ ]:
bow1 = doc1.get_bow_sentences()[1]
bow2 = doc2.get_bow_sentences()[13]
ac.jaccard_index(bow1, bow2, visualize = True)

In [ ]:
print(doc1.get_bow_sentences(), "\n", doc2.get_sentences())
ac.get_match_matrix(doc1, doc2)

In [ ]:
doc1 = article_dict_nltk[2]
doc2 = article_dict_nltk[1]
print(ac.jaccard_score(doc1, doc2))
ac.print_sentence_matches()

In [ ]:
ac.display_mat(tc.subsetmat((scores), range(min(20, len(sample)))), xlabs = sample)

In [ ]:
i = 3
text = article_df.loc[i, "text"]
print(text, "\n")

doc = docs.Document(text, para_sep = "###", parser = "spacy")
print(doc.sent_para_map, doc.sentences)
print(doc.bow_sent_map, doc.bow_sentences, "\n\n NLTK \n\n")
    
doc2 = docs.Document(text, para_sep = "###", parser = "nltk")
print(doc.sent_para_map, doc.sentences)
print(doc.bow_sent_map, doc.bow_sentences)

In [ ]:
ac.cluster_articles(article_dict_nltk, plot = True)
nltk_clusts = ac.get_article_clusters()
ac.prop_unique_clusters(0.25), ac.prop_unique_clusters(0.75)

In [ ]:
ac.cluster_articles(article_dict_spacy, plot = True)
spacy_clusts = ac.get_article_clusters()
ac.prop_unique_clusters(0.25), ac.prop_unique_clusters(0.75)

In [ ]:
def fxn1():
    sample_mat = np.zeros((5, 5))
    for i in range(5):
        for j in range(5):
            if (i > j): 
                sample_mat[i, j] = sample_mat[j, i]
            elif (i == j):
                sample_mat[i, j] = 1.0
            else:
                sample_mat[i, j] = i + j
                
def fxn2():
    sample_mat = np.zeros((5, 5))
    for i in range(5):
        for j in range(i + 1, 5):
            sample_mat[i, j] = i + j
    sample_mat = np.maximum(sample_mat, sample_mat.transpose())
    np.fill_diagonal(sample_mat, 1.0)

In [ ]:
fxn2()

In [ ]:
%timeit fxn2()

In [ ]:
%timeit fxn2()